#f30{
-fx-background-color: f6d5c3;
}
#f40{
-fx-background-color: f6d5c3;
}
#f50{
-fx-background-color: f6d5c3;
}
#f31{
-fx-background-color: f6d5c3;
}
#f41{
-fx-background-color: f6d5c3;
}
#f51{
-fx-background-color: f6d5c3;
}
#f32{
-fx-background-color: f6d5c3;
}
#f42{
-fx-background-color: f6d5c3;
}
#f52{
-fx-background-color: f6d5c3;
}
/*------------------1*/
#f03{
-fx-background-color: f6d5c3;
}
#f13{
-fx-background-color: f6d5c3;
}
#f23{
-fx-background-color: f6d5c3;
}
#f04{
-fx-background-color: f6d5c3;
}
#f14{
-fx-background-color: f6d5c3;
}
#f24{
-fx-background-color: f6d5c3;
}
#f05{
-fx-background-color: f6d5c3;
}
#f15{
-fx-background-color: f6d5c3;
}
#f25{
-fx-background-color: f6d5c3;
}
/* ------------- 2*/
#f63{
-fx-background-color: f6d5c3;
}
#f73{
-fx-background-color: f6d5c3;
}
#f83{
-fx-background-color: f6d5c3;
}
#f64{
-fx-background-color: f6d5c3;
}
#f74{
-fx-background-color: f6d5c3;
}
#f84{
-fx-background-color: f6d5c3;
}
#f65{
-fx-background-color: f6d5c3;
}
#f75{
-fx-background-color: f6d5c3;
}
#f85{
-fx-background-color: f6d5c3;
}
/* ---------- 3 */
#f36{
-fx-background-color: f6d5c3;
}
#f46{
-fx-background-color: f6d5c3;
}
#f56{
-fx-background-color: f6d5c3;
}
#f37{
-fx-background-color: f6d5c3;
}
#f47{
-fx-background-color: f6d5c3;
}
#f57{
-fx-background-color: f6d5c3;
}
#f38{
-fx-background-color: f6d5c3;
}
#f48{
-fx-background-color: f6d5c3;
}
#f58{
-fx-background-color: f6d5c3;
}

